.container-left
    block left
        p.image
            img(src='/images/cute_death.png' alt='Cute death' )
        
        footer.row
            .col.text-center &copy; BLB

.container-right
    block right


