.container
  p
    img(src='/images/my-diery-logo.png' alt='My die-ry' )
    

  p New here? Please, 
     a(href= "/register").btn.btn-outline Register

  p If you already have a die-ry with us, please 
     a(href= "/login").btn.btn-outline Log in
   
  footer.row
      .col.text-center &copy; BLB