.container-left
    block left
        h1 Something here too
        p.image
            img(src='/images/cute_death.jpg' alt='Guess who?' )
        footer.row
            .col.text-center &copy; BLB

.container-right
    block right
