extend layout

block content
  include includes/containers
    h1 HELLO  #{data} 
    p
    h2 #{deathTitle}
    p #{deathDesc}
    h4 #{deathType}

    form(method='POST' action='/randomDeath')
      .form-group
      h3.label(for='deathGenerator') How will I die today?
      button.btn.btn-danger PERISH
    hr
    h4.text-center Add a NEW way to DIE
    a(href="/add").btn.btn-danger Add DEATH