extend layout

block content
 
  include includes/containers
   h1 HELLO  #{data} 

   h2 #{deathTitle}
   p #{deathDesc}
   h4 #{deathType}

    form(method='POST' action='/randomDeath')
      .form-group
      label(for='deathGenerator') How do I die today?
      button.btn.btn-danger Perish