extend layout

block content
  include includes/containers
    h2 Add another way to DIE :)

    form(method="POST" action="/drinks")
    .form-group
      label(for='title') Title (of Death)
      input#name.form-control(name="name" type='text' placeholder='Enter drink name')
    .form-group
      label(for='death') Death Entry
      input#ingredients.form-control(name="death" type='text' placeholder='Describe the DEATH')
      small.form-text.form-muted Make it graphic yet brief! (255 character limit)
    .form-group
      label(for="type") Types
      select#type.form-control(name="type")
        each type in types
          option(value=type.id)= type.name
    button.btn.btn-danger(type='submit') Add DEATH